<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <head>
        <meta charset="UTF-8">
        <title>Forgot Password</title>

    </head>
    <body>
        <form action="@routes.HomeController.forgotPassword()" method="GET">
            <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">

                    <input id="username" name="username" type="text" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="security">Security Question: What was the name of your first pet?</label>
                        <br>
                        <input id="security" name="security" type="password" class="validate">

                    </div>
                </div>
            </div>
            <div class="row">
                <button id="api-search-button" class="btn col s4 offset-s4" type="submit">Submit</button>
            </div>
        </form>



</body>
</html>