@(message: String)
    @import java.math.BigInteger;var i = 0
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    </head>
    <body>

        <header class="topbar">
            <h1 class="focused" style="font-size: 37px;
                color: #57a957">
                <strong>Login Message</strong>
            </h1>
            <p class="focused" style="font-size: 20px;
                color: #3F51B5">@message</p>

        </header>

        <div class="row">
            <div class="card col s4 offset-s4">
                <div class="card-panel">
                    <a href="@routes.HomeController.application()">Submit a TA Application</a>
                    <a href="@routes.User.edit()">Edit User Details</a>
                </div>
            </div>
        </div>

    </body>
</html>
